@import '@/lib/mixins.scss';
.items {
  .items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .items-content {
      max-width: 980px;
      width: 100%;
      .items-list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 4px;
        padding: 0 16px;
        margin-bottom: 16px;
        @include media(tablet) {
          margin: 0 16px;
        }
        @include media(phone) {
          margin: 16px;
        }
        li.item-container {
          display: flex;
          flex-direction: column;
          margin: 16px 0;
          &:not(:first-child)::before {
            height: 2px;
            background-color: var(--bg);
            width: 100%;
            content: '';
            margin: -16px 0 16px 0;
          }
          .item-content {
            display: flex;
            flex-wrap: wrap;
            .item-photo {
              width: 180px;
              height: 180px;
              border-radius: 4px;
              margin-right: 16px;
              cursor: pointer;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
              @include media(phone) {
                width: 120px;
                height: 120px;
              }
            }
            .item-data {
              flex: 1;
              display: flex;
              flex-direction: column;
              color: var(--title);
              .item-price {
                font-size: 1.5rem; // 24px
                margin-bottom: 32px;
                display: flex;
                span {
                  display: flex;
                  align-items: flex-start;
                  font-size: 1.125rem;
                }
                @include media(phone) {
                  margin-bottom: 10px;
                }
                .item-freeshipping {
                  margin-left: 10px;
                  img { width: 18px; }
                }
              }
              .item-title {
                font-size: 1.125rem;
                max-width: 400px;
                min-width: 170px;
                cursor: pointer;
                a {
                  text-decoration: none;
                }
              }
            }
            .item-location {
              font-size: 0.75rem; // 12px
              width: 180px;
              @include media(tablet) {
                width: 120px;
              }
              color: var(--text-secondary);
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

.items-detail {
  .item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .item-content {
      max-width: 980px;
      width: 100%;
      .item-data {
        background-color: white;
        border-radius: 4px;
        display: flex;
        padding: 32px;
        flex-wrap: wrap;
        @include media(tablet) {
          margin: 16px;
          flex-direction: column;
        }
        .item-photo {
          cursor: pointer;
          width: 680px;
          height: 680px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
          @include media(tablet) {
            align-self: center;
            width: 480px;
            height: 480px;
          }
          @include media(small-phone) {
            width: 280px;
            height: 280px;
          }
        }
        .item-description {
          display: flex;
          flex-direction: column;
          flex: 1;
          max-width: 680px;
          @include media(tablet) {
            width: 100%;
          }
          span {
            font-size: 1.75rem;
            color: var(--title);
            margin: 32px 0;
          }
          p {
            font-size: 1rem;
            color: var(--text-primary);
          }
        }
        .item-panel {
          max-width: 220px; // 300px -64px margin -16px padding
          padding-left: 16px;
          @include media(tablet) {
            margin-top: 32px;
          }
          .item-stats {
            font-size: 0.875rem;
            color: var(--text-primary);
            margin-bottom: 16px;
          }
          .item-title {
            font-size: 1.5rem;
            color: var(--title);
            font-weight: bold;
          }
          .item-price {
            font-size: 2.875rem; // 46px
            color: var(--title);
            margin: 32px 0;
            display: flex;
            span {
              display: flex;
              align-items: flex-start;
              font-size: 1.875rem;
            }
          }
          .item-buy-button {
            background-color: var(--button-primary);
            color: white;
            border-radius: 4px;
            border: none;
            outline: none;
            width: 200px;
            height: 40px;
            cursor: pointer;
          }
        }
      }
    }
  }
}